In [1]:
from utils.utils_func import load_database
import pandas as pd
from hBeta import PThBeta
import seaborn as sns
import numpy as np

In [13]:
from keras.datasets import mnist

ModuleNotFoundError: No module named 'keras'

In [2]:
X, y, a = load_database(data='sj')

data of sj will be loaded

In [10]:
y_one_year_out = y.loc[~(y['epi_year'] == 1994), :]

In [12]:
begin_dict = dict()
rest_dict = dict()


for year in pd.unique(y_one_year_out['epi_year']):
    begin_dict[year] = y_one_year_out.loc[y_one_year_out['weekofyear']>]
y_one_year_out

    city  year  weekofyear  total_cases  epi_year  total_cases_log
0     sj  1990          18            4      1990         1.410987
1     sj  1990          19            5      1990         1.629241
2     sj  1990          20            4      1990         1.410987
3     sj  1990          21            3      1990         1.131402
4     sj  1990          22            6      1990         1.808289
..   ...   ...         ...          ...       ...              ...
931   sj  2008          13            4      2007         1.410987
932   sj  2008          14            3      2007         1.131402
933   sj  2008          15            1      2007         0.095310
934   sj  2008          16            3      2007         1.131402
935   sj  2008          17            5      2007         1.629241

[884 rows x 6 columns]